@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /*with 75% opacity for lightbox background)*/
}

@media (hover: hover) and (pointer: fine) {
  .top-cart:hover {
    filter: brightness(0%);
  }
  .avatar:hover {
    outline: 2px solid var(--orange);
    outline-offset: -2px;
    border-radius: 50px;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }
  .top-btn:hover {
    color: hsl(220, 13%, 13%);
  }
  .thumb-img:hover {
    filter: opacity(75%);
  }
  .lb-thumb-img:hover {
    filter: opacity(75%);
  }
  .img-lb-close:hover {
    filter: invert(62%) sepia(21%) saturate(1851%) hue-rotate(335deg)
      brightness(97%) contrast(93%);
  }
  .addtocart:hover, .cart-checkout:hover {
    background-color: hsl(26, 100%, 70%);
  }
  .icon-plus:hover,
  .icon-minus:hover {
    filter: opacity(60%);
  }
  .img-prev:hover {
    fill: hsl(26, 100%, 70%);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -25px;
  left: 0;
  background-color: var(--orange);
  transform-origin: center;
  transition: transform 0.15s ease-out;
}

* {
  font-family: "Kumbh Sans", sans-serif;
  transition: 0.15s ease;
}

html {
  width: 100vw;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.attribution {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--pale-orange);
  margin-top: 20px;
  width: 80%;
  border-radius: 7.5px;
  margin-bottom: 15px;
}

.top {
  display: flex;
  width: 80vw;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.top-banner {
  display: flex;
  flex-wrap: nowrap;
}

.top-btn {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
  color: hsl(219, 9%, 45%);
}

.logo {
  padding-right: 25px;
}

.label {
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.bottom {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.bottom-left {
  margin-right: 25px;
  margin-left: 25px;
}

.bottom-right {
  margin-left: 25px;
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: var(--orange) !important;
}

a:hover {
  color: var(--very-dark-blue) !important;
}

hr {
  border: none;
  background-color: var(--grayish-blue);
  height: 0.5px;
  width: 80vw;
  margin: 0;
}

.btn {
  cursor: pointer;
  user-select: none;
}

.bottom {
  margin-top: 50px;
}

.div-main-img {
  margin-bottom: 15px;
}

.main-img {
  width: 450px;
  border-radius: 15px;
}

.div-thumb-img {
  width: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 15px;
}

.thumb-img {
  width: 100px;
  border-radius: 10px;
}

.lb-thumb-img {
  width: 100px;
  border-radius: 10px;
}

.selected {
  outline: 4px solid var(--orange);
  outline-offset: -2px;
  filter: opacity(50%);
}

.hover-disabled {
  pointer-events: none;
}

.addtocart.hover-disabled {
  filter: opacity(50%);
}

.lightbox {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 75%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lb-main-img {
  width: 500px;
  height: 500px;
}

.div-lb-main-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.div-lb-thumb-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
}

.div-lb-close {
  width: 500px;
  margin-top: auto;
}

.img-lb-close {
  float: right;
  margin-bottom: 15px;
  filter: brightness(0) invert(1);
}

.white-out {
  width: 99.5px;
  height: 99.5px;
  display: inline-block;
  background: var(--white);
  border-radius: 10px;
}

.white-out img {
  opacity: 1;
}

.hidden {
  display: none;
}

.lb-card {
  position: relative;
}

.div-prev,
.div-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 5px;
  height: 5px;
  top: 257px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 50px;
}

.img-prev,
.img-next {
  width: 8px;
}

.div-prev {
  left: -24px;
}

.div-next {
  right: -24px;
}

.bottom-right {
  display: flex;
  align-items: center;
}

.card {
  height: 75%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.txt-desc {
  color: hsl(219, 9%, 45%);
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 21px;
  width: fit-content;
  margin-right: 15px;
}

.discount {
  color: var(--orange);
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: 13px;
  padding: 3px 7px 3px 7px;
  background-color: var(--pale-orange);
}

.row1 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

del {
  color: hsl(220, 14%, 75%);
}

.amount {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: hsl(223, 64%, 98%);
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 10px;
  height: 30px;
}

.n-amount {
  width: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 700;
}

.icon-minus {
  padding: 12px 7px 12px 7px;
  width: 10px;
  height: 3px;
}

.icon-plus {
  padding: 10px 7px 10px 7px;
}

.icon-minus,
.icon-plus {
  margin-left: 5px;
  margin-right: 5px;
}

.row2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  text-align: center;
  align-items: center;
}

.addtocart {
  background-color: var(--orange);
  padding: 50px;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.icon-cart {
  filter: brightness(0) invert(1);
  width: 12px;
  height: 11px;
} 

.txt-addtocart {
  margin-left: 5px;
}

.top-rightside {
  position: absolute;
  right: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.top {
  position: relative;
}

.avatar {
  position: absolute;
  width: 35px;
  bottom: -5px;
}

.cart-card {
  position: absolute;
  top: 35px;
  right: -70px;
  width: 22.5vw;
  /* height: 25vh; */
  height: fit-content;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: var(--white);
}

.cart-title {
  display: flex;
  font-weight: 700;
  font-size: 11px;
  border-bottom: 0.75px solid hsl(220, 22%, 81%);
  height: 5vh;
  align-items: center;
  /* padding-left: 10px; */
  user-select: none;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-content {
  color: hsl(219, 9%, 45%);
  justify-content: center;
  font-weight: 700;
  align-items: center;
  text-align: center;
  /* height: 20vh; */
  height: fit-content;
  display: flex;
  font-size: 11px;
  user-select: none;
  padding: 15px;
}

.dark {
  filter: brightness(0%);
}

.cart-content {
  display: flex; 
  flex-wrap: wrap;
}

.img-item {
  width: 30px;
}

.cart-item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.img-item {
  border-radius: 3px;
}

.cart-checkout {
  padding: 13px;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  border-radius: 5px;
  margin: 15px;
  font-size: 10px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.item-middle-bottom, .item-middle-top {
  display: flex;
  text-align: left;
  justify-content: left;
}

.item-middle {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 400;
}